* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color: #eb116f;

}

.tex {
    color: #b9babe;
    text-align: center;
}

.h1 {
    color: #eb116f;
}

.navbar-toggler {
    color: #eb116f;
    border: none;

}

.navbar-toggler-icon {

    color: rgb(33, 144, 20) !important
}

.p {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card {
    border: none;

}

.row {
    overflow: hidden;
}

.row {
    justify-items: space-between;
}